---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   19px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #0095C7;
$theme-dark: #2D2C2C;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

/* monochromatic share icons */

p.social a {display: inline-block; margin: 0 10px 10px 0; color: #fff;  width: 3em; height: 3em; border-radius: 1.5em; line-height: 2em; font-size: 1.2em; vertical-align: bottom; text-align: center; border: solid 1px #ccc; color: #ccc; transition: all 0.2s ease-out;}
p.social a:focus {color: #ccc; border-color: #ccc;}
p.social a:hover {color: darkblue; border-color: darkblue; text-decoration: none;}
p.social a i {vertical-align: middle;}
p.social a i:before {line-height: 3em;}

/* coloured share icons */

p.social-colour a {color: #fff;}
p.social-colour a:hover, p.social-colour a:focus {color: #fff;}
p.social-colour a.facebook, p.social-colour a.facebook:hover, p.social-colour a.facebook:focus {background-color: #4460ae; border-color: #4460ae;}
p.social-colour a.gplus, p.social-colour a.gplus:hover, p.social-colour a.gplus:focus {background-color: #c21f25; border-color: #c21f25;}
p.social-colour a.twitter, p.social-colour a.twitter:hover, p.social-colour a.twitter:focus {background-color: #3cf; border-color: #3cf;}
p.social-colour a.instagram, p.social-colour a.instagram:hover, p.social-colour a.instagram:focus {background-color: #cd4378; border-color: #cd4378;}
p.social-colour a.buffer, p.social-colour a.buffer:hover, p.social-colour a.buffer:focus {background-color: #000; border-color: #000;}
p.social-colour a.pocket, p.social-colour a.pocket:hover, p.social-colour a.pocket:focus {background-color: #f04056; border-color: #f04056;}
p.social-colour a.linkedin, p.social-colour a.linkedin:hover, p.social-colour a.linkedin:focus {background-color: #0373b4; border-color: #0373b4;}
p.social-colour a.email, p.social-colour a.email:hover, p.social-colour a.email:focus {background-color: #4a7f45; border-color: #4a7f45;}


.black {
        color: #ffffff;
        background-color: #000000;
  }

.thumbnail {
  padding: 0;
  border-radius: 0;
  }

.intro h2 a {
  color: yellow;
  }

.white {
  color: white;
  }
.intro.small {
  }

.reisetermine a {
  color: whitesmoke;
  }
.reisetermine {
  border-left: 1px solid whitesmoke;
  }
 .boxes p {

   }


.contact_address {
  margin-left: 30px;
  overflow: hidden;
  }
@media only screen and (max-width: 768px) {
  .contact_address {
    height: auto;
    }
  }
.single-address {
  margin-bottom: 40px;
  }
.single-address i {
  background: #2a80b9 none repeat scroll 0 0;
  border-radius: 30px;
  color: #fff;
  float: left;
  font-size: 22px;
  height: 60px;
  line-height: 60px;
  margin-right: 20px;
  text-align: center;
  width: 60px;
  }
.single-address h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  overflow: hidden;
  text-transform: uppercase;
  }
.single-address p {
  margin-bottom: 0;
  }
.center {
  text-align: center;
  }