<section class="big-padding bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-7 col-sm-8">
            <div class="col-md-6 col-sm-4"><br>
                <img alt="" class="image-medium img-circle img-responsive" src="../img/c-stutterheim.jpg"></div>
                <div>
                    {% capture einleitung %}{% include Einleitung.md %}{% endcapture %}
                    {{ einleitung | markdownify }}
                </div>


        </div>

        <div class="col-md-4 col-sm-4  light reisetermine small">


            <div class="table">
                {% capture termine %}{% include Termine.md %}{% endcapture %}
                {{ termine | markdownify }}
            </div>


            <p>siehe auch:&nbsp;<a href="http://www.facebook.com/beelingi" target="_blank">www.facebook.com/beelingi</a></p>
        </div>
    </div>
    </div>
    </div></div>
        </div>
    </div>
</section>
