<section id="contact">

        <div class="row">
            <div class="col-md-12">

                <p>  <br>  <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></p>
                Beelingi.me - Sprache, Spaß und me<br>
                Sprachcamps für Schüler<br>
                Fischer Allee 50, 22763 Hamburg<br>
                Tel: 040-55009913<br>
                oder schreibt an:<br>
                <strong>Sprachspass</strong>  ät  <strong>beelingi</strong>  punkt  <strong>me</strong><br>
                <br>
                <a href="
                ../img/BeelingiAGBs.pdf" target="_blank"> Allgemeine Geschäftsbedingungen (pdf) </a><br>

                <br>

                <a href="
                #impressum"> Impressum </a><br>
            </div>

        </div>




</section>
