<section class=" bg-primary" id="contact">

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h3>Fragen Sie uns</h3>

                <p class="lead"></p>


                <form class="form-horizontal" method="POST" action="https://www.fancy-forms.de/processor">

                    <input type="hidden" name="t" value="4_7745269-7428-427333">
                    <input name="email" style="display:none;" type="text">
                    <input type="hidden" name="redirect_to_error" value="http://beelingi.me/form-error.html">
                    <input type="hidden" name="redirect_to_success" value="http://beelingi.me/form-successful.html">


                    <div class="form-group">
                        <label for="email_sender" class="control-label col-xs-3">eMail *</label>
                        <div class="col-sm-9 col-xs-9">
                            <input type="text" class="form-control" name="email_sender" placeholder="eMail" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="form_email" id="inputEmail" class="control-label col-xs-3">Betreff *</label>
                        <div class="col-sm-9 col-xs-9">
                            <input type="text" class="form-control" name="subject" placeholder="Betreff" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="form_email" class="control-label col-xs-3">Nachricht *</label>
                        <div class="col-sm-9 col-xs-9">
                            <textarea type="text" class="form-control" name="message" placeholder="Nachricht" required" rows="6"></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-8">


                            <div class="g-recaptcha" data-sitekey="6Lco-CwUAAAAAOaWcUrMtYsPhc8WIr87T5zSIiWB"></div>


                        </div>
                    </div>




                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success btn-send" value="Send message">
                    </div>


                </form>
            </div>
        </div>
    </div>

</section>
