<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you</title>
</head>
<div>
        <span class="entry-title">
            {% capture thankyou %}{% include thank-you.md %}{% endcapture %}
            {{ thankyou | markdownify }}
        </span>
    <hr class="short">
    <span class="meta">
                    {% capture unterricht-titel-subline %}{% include Unterricht-Titel-Subline.md %}{% endcapture %}
                    {{ unterricht-titel-subline | markdownify }}

		</span>
    <span class="overlay"></span>

</div>


<body>

</body>
</html>