
<section class=" bg-primary" id="contact">

   <div class="container">

      <div class="row">
          <div class="col-md-12">

   <h1>Fragen Sie uns</h1>

   <p class="lead">Was auch immer Sie fragen wollen....</p>


<form method="POST" action="https://www.fancy-forms.de/processor">

   <input type="hidden" name="t" value="4_7745269-7428-427333">

   <input name="email" style="display:none;" type="text">

   <input type="hidden" name="redirect_to_error" value="http://beelingi.me/form-error.html">

   <input type="hidden" name="redirect_to_success" value="http://beelingi.me/form-successful.html">



   <div class="row">
      <div class="col-md-12">
         <div class="form-group">
            <label for="email_sender">Email *</label>

               <input type="text" name="email_sender">

            <div class="help-block with-errors"></div>
         </div>
      </div>
   </div>


   <div class="row">
      <div class="col-md-12">
         <div class="form-group">
            <label for="form_email">subject</label>

            Subject: <input type="text" name="subject">

            <div class="help-block with-errors"></div>
         </div>
      </div>
   </div>


   <div class="row">
      <div class="col-md-12">
         <div class="form-group">
            <label for="form_email">message</label>

            <textarea name="message"></textarea>

            <div class="help-block with-errors"></div>
         </div>
      </div>
   </div>


   <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"></div>


   <div class="col-md-12">
      <input type="submit" class="btn btn-success btn-send" value="Send message">
   </div>


</form>
</div>
      </div>
   </div>

</section>
