
<div class="container">
<div class="row">
    <div class="section-title text-center">
        <h2>Fragen Sie uns</h2>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 wow bounceInLeft" data-wow-delay=".3s">
        <div class="contact">
            <form id="contact-form" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-12">
                        <input name="name" class="form-control" id="first-name" placeholder="Name" required="required" type="text">
                    </div>
                    <div class="form-group col-md-12">
                        <input name="email" class="form-control" id="email" placeholder="Email" required="required" type="email">
                    </div>
                    <div class="form-group col-md-12">
                        <input name="subject" class="form-control" id="subject" placeholder="Subject" required="required" type="text">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea rows="6" name="message" class="form-control" id="description" placeholder="Your Message" required="required"></textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="actions">
                            <button type="submit" value="Send message" name="submit" class="btn btn-default btn-pricing-bg">Send Message</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- END COL -->
    <div class="col-md-6 col-sm-12 col-xs-12 wow bounceInRight" data-wow-delay=".3s">
        <div class="contact_address">
            <div class="single-address">
                <i class="fa fa-rocket"></i>
                <h4>Postanschrift</h4>
                <p>Manteuffelstraße 21, 22587 Hamburg</p>
            </div>
            <div class="single-address">
                <i class="fa fa-phone"></i>
                <h4>Rufen Sie uns an</h4>
                <p>+49 (0)40 - 55009913</p>
            </div>
            <div class="single-address">
                <i class="fa fa-envelope"></i>
                <h4>Kontakt</h4>
                <p>sprachspass ät beelingi punkt me
            </div>
            <div class="single-address">
                <i class="fa fa-clock-o"></i>
                <h4>Wann erreichen Sie uns</h4>
                <p>Mon-Son 0.00 Uhr to 24.00 Uhr.<br>
                Rufen  Sie uns an. Sollten wir nicht erreichbar sein, hinterlassen Sie eine Nachricht. Wir rufen dann zurück.</p>
            </div>
        </div>
    </div><!--- END COL -->
</div>
</div>