<section id="freizeit">

    <div id="entry" class="main entry-header has-background"
         style="background-image: url(../img/freizeit/Surf_lang.jpg);">
        <h1 class="entry-title">Jeder Tag ist ein Event</h1>
        <hr class="short">
				<span class="meta">
			We do amazing things
		</span>

        <span class="overlay"></span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            <div class="row col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2">

                                <h2>Freizeit: We do amazing things</h2>

                                <div class="col-md-6 col-sm-12">
                                    {% capture freizeit1 %}{% include freizeit1.md %}{% endcapture %}
                                    {{ freizeit1 | markdownify }}
                                </div>

                                <div class="col-md-6 col-sm-12"><p>
                                    {% capture freizeit2 %}{% include freizeit2.md %}{% endcapture %}
                                    {{ freizeit2 | markdownify }}

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
