<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="intro  lead col-md-6 col-md-offset-2 col-sm-offset-2 col-md-6 white">
                <h2>Verbringe einen Teil deiner <a lass="page-scroll" href="#freizeit">Sommerferien mit Freunden</a> und bereite dich dabei spielend auf das <a href="#unterricht">nächste Schuljahr</a> vor!</h2>
            <a lass="page-scroll" href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
