<section id="unterricht">
    <div id="entry" class="main entry-header has-background"
         style="background-image: url(../img/unterricht/Unterricht_Schlossturm.jpg);">
        <span class="entry-title">
            {% capture unterricht-titel %}{% include Unterricht-Titel.md %}{% endcapture %}
            {{ unterricht-titel | markdownify }}
        </span>
        <hr class="short">
				<span class="meta">
                    {% capture unterricht-titel-subline %}{% include Unterricht-Titel-Subline.md %}{% endcapture %}
                    {{ unterricht-titel-subline | markdownify }}

		</span>
        <span class="overlay"></span>

    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">

                    {% capture unterricht %}{% include Unterricht.md %}{% endcapture %}
                    {{ unterricht | markdownify }}

                </div>
            <div class="col-md-4">
                <h3>Unsere Ziele</h3>
            </div>


            <div class="col-md-9 col-sm-12 col-md-offset-3">

                <div class="row">
                    <div class="col-sm-4 boxes">
                        <a href="#" class="thumbnail">
                            <img src="../img/unterricht/tsingas.jpeg" class="img-responsive" alt="Lernen in vertrauensvoller Umbebung">
                        </a>

                        {% capture unterricht-block-1 %}{% include Unterricht-Block-1.md %}{% endcapture %}
                        {{ unterricht-block-1 | markdownify }}


                    </div>
                    <div class="col-sm-4 boxes">
                        <a href="#" class="thumbnail">
                            <img src="../img/unterricht/individuel.png" class="img-responsive" alt="Lernen in vertrauensvoller Umbebung">
                        </a>

                        {% capture unterricht-block-2 %}{% include Unterricht-Block-2.md %}{% endcapture %}
                        {{ unterricht-block-2 | markdownify }}
                    </div>

                    <div class="col-sm-4 boxes">
                        <a href="#" class="thumbnail">
                            <img src="../img/unterricht/kleinegruppen.png" class="img-responsive" alt="Lernen in vertrauensvoller Umbebung">
                        </a>

                        {% capture unterricht-block-3 %}{% include Unterricht-Block-3.md %}{% endcapture %}
                        {{ unterricht-block-3 | markdownify }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 boxes">
                        <a href="#" class="thumbnail">
                            <img src="../img/unterricht/luecken.jpg" class="img-responsive" alt="Lernen in vertrauensvoller Umbebung">
                        </a>

                        {% capture unterricht-block-4 %}{% include Unterricht-Block-4.md %}{% endcapture %}
                        {{ unterricht-block-4 | markdownify }}

                    </div>

                    <div class="col-sm-4 boxes">
                        <a href="#" class="thumbnail">
                            <img src="../img/unterricht/Food%20Tasting.png" class="img-responsive" alt="Unterricht soll abwechslungsreich gestaltet sein">
                        </a>

                        {% capture unterricht-block-5 %}{% include Unterricht-Block-5.md %}{% endcapture %}
                        {{ unterricht-block-5 | markdownify }}

                    </div>

                    <div class="col-sm-4 boxes">
                        <a href="#" class="thumbnail">
                            <img src="../img/unterricht/gemeinsam.png" class="img-responsive" alt="Wir wollen eventuelle Lücken schließen">
                        </a>

                        {% capture unterricht-block-6 %}{% include Unterricht-Block-6.md %}{% endcapture %}
                        {{ unterricht-block-6 | markdownify }}

                    </div>


                </div>
            </div>
        </div>

    </div>
</section>
