<section id="warum">

    <div id="entry" class="main entry-header has-background" style="background-image: url(../img/warum/schloss_noer-reitstall.jpg);">
        <h1 class="entry-title">Beelingi.me</h1>		<hr class="short">
				<span class="meta">
			Because it's amazing
		</span>

        <span class="overlay"></span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% capture why %}{% include WhyBeelingi.md %}{% endcapture %}
                {{ why | markdownify }}

            </div>
        </div>
    </div>

</section>
